services:
  fills_db:
    image: linuxserver/mariadb
    networks:
      - internal
      - default
    ports:
      - 3306:3306
    environment:
      - PUID
      - PGID
      - TZ
      - MYSQL_DATABASE=fills
      - MYSQL_USER=fills
      - MYSQL_PASSWORD=fills

  fill-station:
    build:
      context: .
    ports:
      - 3000:3000
    networks:
      - internal
      - default
    environment:
      - DATABASE__HOST=fills_db
      - DATABASE__DATABASE=fills
      - DATABASE__USERNAME=fills
      - DATABASE__PASSWORD=fills
      - AUTH_SECRET=DP/Tz71RW+uIvp62zQQhD/5qEImvwemOFHatwC+ahDjmnyM7UrMUKxYhlmmM9N3z
      - AUTH_CLIENT_ID=abcd
      - AUTH_CLIENT_SECRET=abcd

networks:
  default:
  internal:
    internal: true
